<!-- profile photo -->
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<div class="user-info">
  <i class="fas fa-map-marker-alt"></i> <%= @user.location %>
  <i class="fas fa-envelope-open-text"></i> <%= @user.email %>
</div>
