.curved-yellow-banner {
  background-color: #FAD00D;
  height: 200px;
  width:100%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  position: relative;
}

.user-name h1 {
  text-align: center;
  color: white;
  font-size: 24px;
}

.user-post-count {
  border-radius: 20px;
  background-color: white;
  height: 80px;
  width: 85%;
  margin: -80px auto 0 auto;
  position: relative;

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.settings-icon {
  position: absolute;
  right: 6px;

  a {
    color: black;
  }
}
