.login-logo {
  margin: 0 auto;
}

.login-form {
  padding: 24px;
  position: relative;
}

#login-banner {
  position: absolute;
  width: 240px;
  top: 4px;
  right: 17px;
}

.login-button {
  background: #FAD00D;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  width: 100%;
  margin-bottom: 16px;
}
