.user-info {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #FAD00D;
}

.user-setting-name {
  text-align: center;
  h1 {
    font-size: 20px;
  }
}

.back-icon {
  position: absolute;
  left: 6px;
  font-size: 24px;

  a {
    color: black;
  }
}

.user-avatar-large-circle {
   img {
    border-radius: 50%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
  }
}

