.animal-info {
  img {
    width: 20px;
  }
}

.animal-info {
  display: flex;
  justify-content: space-around;

  p {
    font-size: 18px;
    color: #FAD00D;
  }
}

.animal-show-details {
  border-radius: 24px;
  background-color: white;
  width: 85%;
  margin: -57px auto 0 auto;
  padding: 8px 16px;
  position: relative;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  z-index: 1000;

  h1 {
    margin: 0;
    font-size: 36px;
  }

  p {
    margin: 0;
  }
}

.user-show-details {
  margin: 8px 0;
  padding: 0px;

  // img {
  //   border-bottom-right-radius: 32px;
  //   border-bottom-left-radius: 32px;
  // }
}

.light-grey-date {
  color:grey;
}

.about-animal-text {
  padding: 0 34px;
  margin-top: 16px;
}

.yellow-message-button {
  background-color: #FAD00D;
  border-radius: 11px;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  padding: 8px 4px;
  margin: 0 40px;
  color: white;
  position: relative;

}

.user-post-info {
  border-bottom: 2px solid #FAD00D;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 4px;
    margin-top: -8px;
  }
}

.avatar-wrap {
  display:flex;
  min-width: 44%;
  justify-content: space-evenly;
}

.show-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-size: 24px;
    color: black;
    padding-left: 8px;
  }
}

.show-header {

  img {
    width: 56px;
  }
}
