
<h2><u>ADOPT AN ANIMAL <%= image_tag 'login-banner.png' %></u></h2>

<div>
  <p>Filter by gender</p>
    <button class="gender-list-button" data-animal-gender='female'> Female</button>
    <button class="gender-list-button" data-animal-gender='male'>Male</button>
</div>
