
<h3><strong><u>ADOPT AN ANIMAL <%= image_tag 'login-banner.png', class: 'image-adoption' %></u></strong></h3>

<div>
  <p class="filter-by-pet-header"><strong>Filter by gender</strong></p>
    <button class="gender-list-button" data-animal-gender='female'> Female</button>
    <button class="gender-list-button" data-animal-gender='male'>Male</button>
</div>
