<div class="curved-yellow-banner">
  <h3><strong><u>ADOPT AN ANIMAL <%= image_tag 'login-banner.png', class: 'image-adoption' %></u></strong></h3>

  <div class='adoption-header'>
    <p class="filter-by-pet-header"><strong>Filter by gender</strong></p>
      <div class="gender-button">
        <button class="list-button" data-animal-gender='female'> Female</button>
        <button class="list-button" data-animal-gender='male'>Male</button>
      </div>
  </div>
</div>

