<div>

<% if ['lost', 'found'].include? @status.status %>
  <%= render 'lost_found_header' %>

<% elsif @status.status == "adopt"%>
  <%= render 'adoption_header' %>
<%end %>


<%= render 'list_with_filters' %>
</div>
