.index-header {
 background-color: #FAD00D;
  color: white;
  padding: 16px 20px;
  h4 {
    margin: 0;
    text-align: center;
    font-size: 24px;
  }
}

.chat-card{
  display: flex;
  margin: 16px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  p {
    font-size: 12px;
    font-weight: 400;
    color: #767575;

  }
  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.chat-content {
  flex-grow: 1;
  margin: 0 16px;
  h3{
    font-size:20px;
    font-weight: 600;
  }
  p{
    font-size: 16px;
    font-weight: 400;
    color: #767575;
  }
}

.placeholder {
  height: 18px;
  width: 24px;
}

