#home-page-banner {
  width: 100%;
}

.home-page {

}

.stats {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.stats-number {
  font-size: 32px;
  font-weight: 600;
  color: #767575;
  padding-right: 16px;
  border-right: 3px solid #FAD00D;
  text-align: right;
}

.stats-title {
  font-size: 32px;
  padding-left: 16px;
}

.pet-card-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;

  h3 {
    font-size: 22px;
    img {
      width: 22px;
    }
  }

  a {
    font-size: 12px;
    color: #767575;
    margin: 0;
    text-align: right;
  }

}

.home-pet-cards {
  display: flex;
  overflow-x: auto;
}

.home-pet-card {
  border: 1px solid #FAD00D;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 8px;
  padding: 12px;
  border-radius: 16px;
  width: 180px;
  height: 250px;
  position: relative;

  .animal-title {
    font-size: 24px;
    font-weight: 500;
  }

  .animal-location {
    font-size: 12px;
    color: #767575;
  }

  p {
    margin: 0;
  }
}
