// Import your components CSS files here.
@import "home";
@import "alert";
@import "avatar";
@import "bookmark";
@import "navbar";
@import "list";
@import "map";

.new_animal {
  label {
    img {
      width: 55px;
    }
  }
}

.horizontal {
  label {
    opacity: 0.4;
  }
  input[type=radio]:checked + label {
    opacity: 1;
  }
}
