.curved-yellow-banner h2 {
  font-size:16px;
  padding: 12px 8px 8px 8px;
}



.icon{
  height: 50px;
  margin: 8px 8px 8px 8px;
  border-style: outset;
}

.animal-type-icon{
  margin-left: 12px;
  display: flex;
  justify-content: center;
}


.animal-title-card {
  font-size: 16px;
}



.title-animal-card{
  font-size:24px;
}

.image-adoption{
  width:50px;
}

.curved-yellow-banner {

  h3 {
  text-align: center;
  font-size:25px;
  }
}



// changes

.card-animal-list {
  margin-bottom: 32px;
  display: flex;
  border-radius: 16px;
  justify-content: space-between;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px grey;
}


.animal-card{
  height: 160px;
  width: 200px;
  background: #FFFFFF;
  display: flex;
}



.photo-animal-card {
  width: 140px;
  height: 180px;
  margin: -10px;
  border-radius: 16px;

}



.card-info-wrap {
  text-align: center;
  width: 100px;
  margin-left:20px;
}



.list-button{
  border-radius: 16px;
  color: black;
}

.list-button.active {
  background-color: black;
  color: white;
}


.card-gender-wrap{
  width:60px;
  margin-top: 16px;
  font-size: 40px;

}

.lost-found-button{
  display:flex;
  background-color: white;
  justify-content: center;
  width: 190px;
  margin-left: 100px;
  margin-bottom: 32px;
  border-radius: 16px;

a {
  text-decoration:none;

  }


}
a.add-button{
  text-align: right;
  color: black;

}

.search-form-inline{
  width:350px;
  margin-left: 32px;

  input[type=text] {
    border-radius: 16px !important;
  }

  .search-button {
    position: absolute;
    right: 0;
    border-radius: 16px;

  }
}

.adoption-header {
  margin-left: 30px;

}

.gender-button {
  display:flex;
  background-color: white!important;
  justify-content: center;
  width: 190px;
  margin-left: 60px;
  margin-bottom: 32px;
  border-radius: 16px;
  height: 35px;
  width: 180px;
  padding: 8px;

}

.animal-location{
  width: 120px;
}

.animal-contact{
  width: 120px;
  margin-bottom: -20px
}

.search-button-icon{
  font-size: 32px;
  margin-top: 9px;
  margin-left: 5px;
}

.search-title {
  h2 {
    text-align:center;
  }
}
