.curved-yellow-banner h2 {
  font-size:16px;
  padding: 12px 8px 8px 8px;
}



.icon {
  height: 56px;
  margin: 8px 8px 8px 8px;
  border-style: outset;
  padding: 4px;
  border-radius: 8px;
}

.animal-type-icon{
  margin-left: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}


.animal-title-card {
  font-size: 16px;
}



.title-animal-card{
  font-size:24px;
}

.image-adoption{
  width:50px;
}

.curved-yellow-banner {

  h3 {
  text-align: center;
  font-size:25px;
  }
}



// changes

.card-animal-list {
  margin-bottom: 32px;
  display: flex;
  border-radius: 16px;
  justify-content: space-between;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px grey;
  width: 330px;
  margin-left: 25px;
}


.animal-card{
  height: 160px;
  width: 200px;
  background: #FFFFFF;
  display: flex;
  border-radius: 16px;
}



.photo-animal-card {
  width: 150px;
  height: 180px;
  margin: -10px;
  border-radius: 16px;

}



.card-info-wrap {
  text-align: center;
  width: 100px;
  margin-left:20px;
}


.card-gender-wrap{
  width:60px;
  margin-top: -3px;
  font-size: 40px;
  font-size: 39px;
  margin-right: -27px;

}

a.add-button{
  text-align: right;
  color: black;

}

.search-form-inline{
  width:320px;
  margin-left: 32px;

  input[type=text] {
    border-radius: 16px !important;
  }

  .search-button {
    position: absolute;
    right: 0;
    border-radius: 16px;

  }
}

.adoption-header {
  margin-left: 30px;

}

.animal-location{
  width: 140px;
  margin-top: 10px;
}

.animal-contact{
  width: 120px;
  margin-bottom: -12px;
  margin-top: 30px;
  font-size: 20px;
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-button-icon{
  font-size: 32px;
  margin-top: 9px;
  margin-left: 5px;
}

.search-title {
  h2 {
    text-align:center;
  }
}

.filter-by-pet-header{
  font-size:16px;
  margin-left:12px;
}


.gender-buttons {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  border-radius: 16px;
  height: 35px;
  button {
    border-radius: 16px;
  }
}

.lost-found-button{
  margin-left: 100px;
  margin-bottom: 32px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  width: 180px;
  border-radius: 16px;
  height: 35px;
  a {
    border-radius: 16px;
    text-decoration: none;
  }
}

.list-button{
  text-align: center;
  background-color: white;
  border: 1px solid white;
  color: black;
  width: 50%;
}

.list-button.active {
  background-color: black;
  border: 1px solid black;
  color: white !important;
}

.add-adoption{
  margin-left: 36px;
  margin-top: -35px;
  font-size: 15px;
}

.animal-filter-icon.border {
  border: 1px solid #FAD00D
}


